<div class="resultWrapper">
  <div id="result">
    <nav class="navbar navigation sticky">
      <a class="navbar-brand" href="/">GlobeTrotter</a>
      <a href="/" id="start-over" class="btn btn-primary">Start Over</a>
    </nav>
  </div>

  <div class="weather">
    <h3>
      {{!-- TODO: Place the weather will be: --}}
      Trip for {{weatherLocation}} (Dates) - Weather: {{weatherTemp}} &#8457;
    </h3>
  </div>

  <div class="tableWrapper">
    <div class="row" style="margin-left: 0; margin-right:0;">
      <div class="tabContainer">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
              aria-controls="nav-home" aria-selected="true">Packing List</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
              aria-controls="nav-profile" aria-selected="false">Flight / Hotel</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
              aria-controls="nav-contact" aria-selected="false">Activities</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            {{!-- Packing list starts here --}}
            <div class="row">
              <div class="col-md-12">
                <ul class="list-group todo-list">
                  <li class="list-group-item new-item">
                    <form id="todo-form">
                      <div class="container">
                        <div class="row">
                          <div class="col-8">
                            <input class="new-item form-control" placeholder="Add an item" type="text" />
                          </div>
                          <div class="col-3">
                            <select class="custom-select" id="season">
                              <option value="All">All Season</option>
                              <option value="Winter">Fall / Winter</option>
                              <option value="Summer">Spring / Summer</option>
                            </select>
                          </div>
                          <div class="col-1">
                            <button type="submit" class="btn btn-success">Add</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </li>
                  <span class="todo-container col-12 ">
                  </span>
                </ul>
              </div>
            </div>
            {{!-- End of packing list page --}}
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            {{!-- TODO: put the flight info here --}}
            {{!-- TODO: put the hotel api here --}}

            {{!-- IAN CODE UPDATE BEGINNING --}}
            <div class="container">
              <div class="row">
                <div class="col-12 offset-1.2">
                  <form class="clearfix mb-4" method="post">
                    <div class="form-group">
                      <div class="form-group row">
                        <div class="col-12">
                          <label id="flightinfolabel" class="col-form-label" style="padding-left: 13px;"
                            style="margin-top: 20px;">
                            <br>
                            <h3>Flight Information: {{airline}}</h3>
                          </label>
                          {{!-- <input type="text" id="flightinfo" class="form-control" style="width: 990px;" /> --}}
                          {{!-- <h5 style="padding-left: 13px; text-align: center"></h5> --}}
                        </div>
                      </div>
                    </div>
                  </form>

                  <div class="container">
                    <div class="hotel-search">
                      <div id="findhotels">
                        <br>
                        <h3>
                          Find hotels in:
                        </h3>
                      </div>

                      <div id="locationField">
                        <input id="destination" placeholder="Enter a city" type="text"
                          style="width: 300px;margin-left: 10px" value="{{destination}}" />
                      </div>

                      <div id="controls" style="margin-left: 10px">
                        <select id="country">
                          <option value="all">All</option>
                          <option value="au">Australia</option>
                          <option value="br">Brazil</option>
                          <option value="ca">Canada</option>
                          <option value="fr">France</option>
                          <option value="de">Germany</option>
                          <option value="mx">Mexico</option>
                          <option value="nz">New Zealand</option>
                          <option value="it">Italy</option>
                          <option value="za">South Africa</option>
                          <option value="es">Spain</option>
                          <option value="pt">Portugal</option>
                          <option value="us" selected>U.S.A.</option>
                          <option value="uk">United Kingdom</option>
                        </select>
                      </div>
                    </div>
                    <label id="hotelinfolabel" class="col-form-label" style="width: 1100px;">
                      <br>
                      <h3>Hotel Options</h3>
                      <div class="row">
                        <div class="col-sm-8">
                          <div id="map"></div>
                        </div>
                        <div class="col-sm-4">
                          <div id="listing">
                            <table id="resultsTable">
                              <tbody id="results"></tbody>
                            </table>
                          </div>
                        </div>
                        {{!-- map info window --}}
                        <div style="display: none">
                          <div id="info-content">
                            <table>
                              <tr id="iw-url-row" class="iw_table_row">
                                <td id="iw-icon" class="iw_table_icon"></td>
                                <td id="iw-url"></td>
                              </tr>
                              <tr id="iw-address-row" class="iw_table_row">
                                <td class="iw_attribute_name">Address:</td>
                                <td id="iw-address"></td>
                              </tr>
                              <tr id="iw-phone-row" class="iw_table_row">
                                <td class="iw_attribute_name">Telephone:</td>
                                <td id="iw-phone"></td>
                              </tr>
                              <tr id="iw-rating-row" class="iw_table_row">
                                <td class="iw_attribute_name">Rating:</td>
                                <td id="iw-rating"></td>
                              </tr>
                              <tr id="iw-website-row" class="iw_table_row">
                                <td class="iw_attribute_name">Website:</td>
                                <td id="iw-website"></td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
         </div> {{!-- /map info window --}}
         
         {{!-- IAN CODE UPDATE END --}}
          
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <br>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Activities</th>
                  <th scope="col">Cost</th>
                  <th scope="col">Action</th>
                </tr>
                <tr>
                  <form>
                    <td scope="row"><input type="text" id="input-activity" placeholder="Put your activity here"
                        required>
                    </td>
                    <td><input type="number" id="input-cost" placeholder="Put estimated cost" required></td>
                    <td><button class="btn btn-success btn-sm" id="btn-add">Add</button></td>
                  </form>
                </tr>
              </thead>
              <tbody id="activity-content">
              </tbody>
              <td scope="row">Total</td>
              <td id="totalCost"></td>
              <td></td>
            </table>
          </div>{{!-- /tab-pane --}}
        </div> {{!-- /tab-content --}}
      </div>{{!-- /tab-container --}}
    </div>{{!-- /row --}}
  </div>{{!-- /resultscontainer --}}
</div>{{!-- /resultsWraper--}}


<!-- Custom Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
<script>
  var currentWeather = "{{weatherTemp}}";
  var destination = "{{destination}}";
  var airline = "{{destination}}";

</script>
<script src="/js/packinglist.js"></script>
<script src="/js/result.js"></script>
<!--Google Maps -->
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdGhuLhVyO8bv53Zq7SR8jhZKPmcw9RfI&libraries=places&callback=initMap"
  async defer></script>